In [1]:
import pandas as pd

In [ ]:
1. data[data['Profit'] > 10]

2. data[(data['Profit'] > 10) & (data['Population'] < 8)]

3. data['cate'] = 'HIGH'
data[data['Profit'] <= 8]['cate'] = 'LOW'
data[(data['Profit'] > 8) & (data['Profit'] <= 12)]['cate'] = 'MEDIUM'

In [4]:
data1 = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data1)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [12]:
data[data['Profit'] > 10 and data['Profit'] < 10]

Name    Tom
Age      28
Name: 0, dtype: object

In [ ]:
#New way to create column
data['segment'] = data.Profit.apply(lambda x: 'HIGH' if x > 8 else 'LOW')

In [ ]:
def get_segment():
    if x<= 8:
        return 'LOW'
    elif x<= 12:
        return 'MEDIUM'
    else:
        return 'HIGH'
    
data['segment'] = data.Profit.apply(lambda x: get_segment(x))

In [18]:
df.describe()

             Age
count   4.000000
mean   33.250000
std     6.396614
min    28.000000
25%    28.750000
50%    31.500000
75%    36.000000
max    42.000000